/* Write your code here. */

body {
  margin: 0px;
}
.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  font-family: "Bree Serif";
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 40px;
  }
}

.btn-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
@media screen and (min-width: 768px) {
  .btn-container {
    flex-direction: row;
  }
}

.like-btn {
  color: #ffffff;
  font-size: 25px;
  background-color: #eab308;
  border: 0px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
.comment-btn {
  color: #323f4b;
  font-size: 25px;
  background-color: #ffffff;
  border: 0px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
.share-btn {
  color: #ffffff;
  font-size: 25px;
  background-color: #1d4ed8;
  border: 0px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
